.title {
    display: flex;
    justify-content: center;
}

#players {
    display: flex;
    justify-content: space-around;
}

h2 {
    margin-right: 1%;
}

.table-div {
    display: flex;
    justify-content: space-around;
}

#table-grid-your {}

table {
    border-spacing: 0;
}

tr {
    display: flex;
    justify-content: space-around;
}

td {
    display: flex;
    /*
    justify-content: center;
    align-items: center;
*/
    width: 50px;
    height: 50px;
    border-style: ridge;
    color: lightblue;
}


/*
td:hover {
    color: black;
    background-color: aquamarine;
}
*/

.selected-cell {
    width: 50px;
    height: 50px;
    position: relative;
    opacity: 0.9;
}

.selected-cell:before,
.selected-cell:after {
    content: "";
    position: absolute;
    z-index: -1;
    background: #d00;
}

.selected-cell:before {
    left: 50%;
    width: 30%;
    margin-left: -15%;
    height: 100%;
}

.selected-cell:after {
    top: 50%;
    height: 30%;
    margin-top: -15%;
    width: 100%;
}

.ship-location {
    background-color: brown;
    color: transparent;
}

.ship-location: hover {
    color: black;
}

.shotted {
    background: blue;
    color: transparent;
}

.succ-Shot {
    background: red;
    color: transparent;
}

.fail-Shot {
    background: blue;
    color: transparent;
}

.header_header {
    display: flex;
    justify-content: space-between;
}

#place-ship {
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 30%;
    border: grey solid;
    background: #d0c9c9;
    padding: 0 2%;
}

#drag1,
#drag2,
#drag3,
#drag4 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    z-index: 1;
    background-color: red;
}

#drag1 {
    width: 245px;
    /*    height: 245px;*/
}

#drag2 {
    width: 195px;
    /*    height: 195px;*/
}

#drag3,
#drag4 {
    width: 145px;
    /*    height: 145px;*/
}

.pInBack {
    font-size: 160%;
    z-index: -1;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.selected-cell p {
    display: none;
}

#ended-game {
    position: absolute;
    width: 85%;
    display: flex;
    height: 390px;
    justify-content: center;
    align-items: center;
}

#ended-game h1 {
    font-size: 200px;
    opacity: 1;
    z-index: 1;
}

#block-div {
    display: flex;
    justify-content: center;
    align-content: center;
}

#block-div div {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 40%;
    font: 50px bold red;
    background-color: lightcoral;
    border: dotted red;
    animation-name: parpadeo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-name: parpadeo;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@-webkit-keyframes parpadeo {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@keyframes parpadeo {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}
