/*Data table extra info hided*/
#rank-table_info.datatables_info, #list-table_info.datatables_info, #list-table_filter.datatables_length, #list-table_paginate, #list-table_length, #rank-table_filter.datatables_length, #rank-table_paginate, #rank-table_length, #rank-table_filter.datatables_length   {
    display: none;
}

table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc, table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>td.sorting {
     padding-right: 0; 
}

.title {
    display: flex;
    justify-content: center;
}
tr {
    display: flex;
/*    justify-content: space-around;*/
}

td {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 50px;
    border-style: ridge;
    padding: 0;
}
.body {
    display: flex;
    justify-content: center;
}
.login {
    display: flex;
    justify-content: flex-end;
    margin: 1% 0;
}
#logout-form {
    display: flex;
    justify-content: space-between;
}
#logoutbut {
    height: 34px;
}
.play {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}