.title {
    display: flex;
    justify-content: center;
}

.table-div {
    display: flex;
    justify-content: center;
}

#table-grid {}

table {
    border-spacing: 0;
}

tr {
    display: flex;
    justify-content: space-around;
}

td {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-style: ridge;
    color: lightblue;
}
td:hover {
    color: black;
    background-color: aquamarine;
}
.ship-location {
    background-color: blue;
}
.boat-location {
    background-color: blue;
    color: black;
}
.cruiser-location {
    background-color: orangered;
    color: black;
}
.destructor-location {
    background-color: red;
    color: black;
}