.main-container {
    background-image: url(imatges/background-battle1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    padding-bottom: 25px;
}

.header-bot {
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.5);
    margin: 15px 0;
}

.title {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

#players {
    display: flex;
    justify-content: space-around;
}

h2 {
    margin-right: 1%;
}

.table-div {
    display: flex;
    justify-content: space-around;
}

#table-grid-your tr td,
#table-grid-enemy tr td {
    display: flex;
    width: 50px;
    height: 50px;
    border-style: ridge;
    color: lightblue;
}

table {
    border-spacing: 0;
    background-color: rgba(255, 255, 255, 0.5);
}

tr {
    display: flex;
    justify-content: space-around;
}

td {
    display: flex;
    width: 50px;
    height: 50px;
    border-style: ridge;
    color: lightblue;
}

.selected-cell {
    width: 50px;
    height: 50px;
    position: relative;
    opacity: 0.9;
}

.selected-cell:before,
.selected-cell:after {
    content: "";
    position: absolute;
    z-index: -1;
    background: #d00;
}

.selected-cell:before {
    left: 50%;
    width: 30%;
    margin-left: -15%;
    height: 100%;
}

.selected-cell:after {
    top: 50%;
    height: 30%;
    margin-top: -15%;
    width: 100%;
}

.ship-location {
    background-color: brown;
    color: transparent;
}
.ship-location .pInBack {
        z-index: -1;
}


.ship-location: hover {
    color: black;
}

.shotted {
    background: blue;
    color: transparent;
}

.shotted .pInBack {
    z-index: -1;
}

.succ-Shot {
    background-color: transparent;
    background-image: url(imatges/skull-icon.png);
    background-size: contain;
    color: transparent;
}

.succ-Shot .pInBack {
    z-index: -1;
    color: transparent;
}

.fail-Shot {
    background: blue;
    color: transparent;
}

.fail_Shot .pInBack {
    z-index: -1;
}

.header_header {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#place-ship {
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 30%;
    border: grey solid;
    background: #d0c9c9;
    padding: 0 2%;
}

#drag1,
#drag2,
#drag3,
#drag4 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    z-index: 1;
    background-color: red;
}

#drag1 {
    width: 245px;
    /*    height: 245px;*/
}

#drag2 {
    width: 195px;
    /*    height: 195px;*/
}

#drag3,
#drag4 {
    width: 145px;
    /*    height: 145px;*/
}

.pInBack {
    font-size: 160%;
    /*    z-index: -1;*/
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.selected-cell p {
    display: none;
}

#ended-game {
    position: absolute;
    width: 85%;
    display: flex;
    height: 390px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/*
#ended-game p {
    font-size: 200px;
    opacity: 1;
    z-index: 1;
}
*/

.player-turn .pInBack {
    z-index: -1;
}

.player-turn {
    animation-name: blink-grid;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-name: blink-grid;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes blink-grid {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.7;
    }
    100% {
        opacity: 1.0;
    }
}

@-webkit-keyframes blink-grid {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.7;
    }
    100% {
        opacity: 1.0;
    }
}

@keyframes blink-grid {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.7;
    }
    100% {
        opacity: 1.0;
    }
}
